.overlay.overlay--searchbarD.overlay--visible.overlay--searchbarD--visible{
    margin: 0 0 0 65px;
}
.drawer--MENU-DESK-CLICK.opened.opened--MENU-DESK-CLICK {
    height: 100%;
    min-width: 60% !important;
    background: transparent;
    z-index: 9999;
    left:4.6%;
    width: 60% !important;
}
.drawerContent.drawerContent--MENU-DESK-CLICK {
    height: 100%;
}
.childrenContainer.childrenContainer--MENU-DESK-CLICK {
    height: 100%;
}
.closeIconContainer.closeIconContainer--MENU-DESK-CLICK {
    position: absolute;
    z-index: 999;
    top: 341px;
    margin-left: -57px;
}
.closeIcon--MENU-DESK-CLICK {
    color: transparent;
    background-image: url(https://callearturop.vteximg.com.br/arquivos/cierreDelMenu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 83%;
    left: 55%;
}
@media(min-width:1500px){
    .drawer--MENU-DESK-CLICK.opened.opened--MENU-DESK-CLICK {
        left: 67px;
      }
}
@media (min-width: 1350px)  {
    
    .closeIconContainer.closeIconContainer--MENU-DESK-CLICK {
        position: absolute;
        z-index: 999;
        top: 341px;
        margin-left: -61px;
    }
  }
@media (max-width: 600px) {
    .overlay.overlay--searchbarD.overlay--visible.overlay--searchbarD--visible{
        margin: 0 0 0 58px;
    }
    .drawerTriggerContainer--propiedades :global(.vtex-flex-layout-0-x-stretchChildrenWidth)::after{
        content: "Buscar";
        font-size: 13px;
        color: #340572;
        margin-top: -7px;
    }
    .drawerTriggerContainer--propiedades :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        flex-wrap: wrap;
    }
    .openIconContainer--searchbarD{
        padding-top:0.4rem;
        padding-bottom: 0.4rem;
    }
}

@media(min-width: 700px){
.drawerTriggerContainer--propiedades :global(.vtex-flex-layout-0-x-stretchChildrenWidth)::after{
    content: "Buscar";
    font-size: 13px;
    color: #340572;
    position: absolute;
    top: 80%;
}
}
@media(min-width: 700px){
    .openIconContainer--MENU-DESK-CLICK::after{
        content: "Menu";
        font-size: 13px;
        color: #340572;
        display: block;
        position: absolute;
        left: 30%;
    }
    .drawerTriggerContainer--MENU-DESK-CLICK{
        height: 35px;
    }
}