.footerLayout{
    background: url(https://callearturop.vteximg.com.br/arquivos/fondo-desk.jpg);
    background-size: 100%;
    position: relative;
}
.socialNetworkImage {
    display: none;
}

:global(.vtex-store-footer-2-x-socialNetworkLink--iconos-redes-desk).socialNetworkLink--facebook::before {
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/fb-freedom.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 25px;
    height: 25px;
}
.socialNetworkLink--instagram::before {
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/ig-freedom.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 25px;
    height: 25px;
}
.socialNetworkLink--twitter::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/tiktok-freedom.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 25px;
    height: 25px;
}
.socialNetworkLink--youtube::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/yt-freedom.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 25px;
    height: 25px;
}
.socialNetworksContainer.socialNetworksContainer--iconos-redes-desk {
    margin: 60px 0 0 0;
}


@media (max-width: 600px) {
    .footerLayout {
        margin: 30px 0 0px 58px;
        padding: 0 1%;
    }
}

.socialNetworkLink--iconos-redes-quienes--youtube::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/youtube-morado.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 43px;
    height: 43px;

}
.socialNetworkLink--iconos-redes-quienes--twitter::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/tiktok-morado.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 43px;
    height: 43px;
}
.socialNetworkLink--iconos-redes-quienes--twitter:hover::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/tiktok-hover-NEW.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 43px;
    height: 43px;
}
.socialNetworkLink--iconos-redes-quienes--instagram::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/ig-morado.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 43px;
    height: 43px;
}
.socialNetworkLink--iconos-redes-quienes--instagram:hover::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/ig-hover-NEW.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 43px;
    height: 43px;
}
.socialNetworkLink--iconos-redes-quienes--facebook::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/face-morado.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 43px;
    height: 43px;
}
.socialNetworkLink--iconos-redes-quienes--facebook:hover::before{
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/fb-hover-NEW.png) no-repeat;
    background-size: 100%;
    display: block;
    width: 43px;
    height: 43px;
}

.socialNetworksContainer--iconos-redes-quienes{
    justify-content: center;
}