.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}

/* .stackItem--product :global(.vtex-product-highlights-2-x-productHighlightWrapper)[data-highlight-id="228"]::before{
  content: "";
  background: url(https://callearturop.vteximg.com.br/arquivos/flag-producto-new.png) no-repeat;
  background-size: 100%;
  width: 140%;
  height: 55px;
  display: block;
  visibility: visible;
}
 */
