.inputContainer :global(.vtex-styleguide-9-x-input) {
    background: transparent;
    padding: 0 !important;
    font-size: 15px !important;
}

:global(.vtexeurope-minicart-freeshipping-bar-1-x-text2) {
    visibility: hidden;
}

:global(.vtexeurope-minicart-freeshipping-bar-1-x-text2)::before {
    content: "Envío GRATIS!";
    visibility: visible;
    position: absolute;
}


@media (max-width: 600px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--menu-link) > div{
        height: 100%;
    }
}