.inputContainer :global(.vtex-styleguide-9-x-input) {
    background: transparent;
    padding: 0 !important;
    font-size: 15px !important;
}

:global(.vtexeurope-minicart-freeshipping-bar-1-x-text2) {
    visibility: hidden;
}

:global(.vtexeurope-minicart-freeshipping-bar-1-x-text2)::before {
    content: "Envío GRATIS!";
    visibility: visible;
    position: absolute;
}

:global(.vtex-toast)::before {
    content: "";
    display: block;
    background: url(https://racketball.vteximg.com.br/arquivos/carrita-add.png) no-repeat;
    width: 18px;
    height: 20px;
    background-position: center;
    background-size: 100%;
    margin: 0px 10px 0 0;
    
}
@media(min-width:1600px){
    :global(.vtex-toast-container) {
        top: 19.5%;
        left: 32px;
        height: 57px;
    }

}
@media(min-width:1400px) and (max-width:1600px){
    :global(.vtex-toast-container) {
        top: 20%;
        left: 32px;
        height: 57px;
    }

}

@media(min-width:1201px) and (max-width:1400px){
:global(.vtex-toast-container) {
    top: 34%;
    left: 32px;
    height: 57px;
}
}
:global(.vtex-toast) {
    background: white;
    color: #73CB5D;
    text-align: center;
    width: 220px;
}
:global(.vtex-alert__close-icon) {
    display:none;
}
:global(.vtex-toast) :global(.vtex-button){
    display: none;
}
@media (max-width: 600px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--menu-link) > div{
        height: 100%;
    }
    :global(.vtex-toast-container) {
        top: 23%;
        left: 67px;
        width: 70%;
        height: 57px;
    }
    .content--emailAndPassword {
        margin-top: 10px !important;
    }
    :global(.vtex-my-account-1-x-userName) {
        font-size: 22px;
    }
}
:global(.vtex-flex-layout-0-x-flexColChild--tallas):nth-child(3){
    display: none;
  }