.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}


.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
/*Home*/
.flexRow--bannerssecond
{
  margin-top: 70px;
}
.flexRowContent--Bannersec {
  justify-content: center;
}

/*---------------------------------------------*/
/*       Aside izquierdo - menú lateral       */
/*-------------------------------------------*/
/* -------------Vtex flex layout -----------*/

.flexRowContent--menu-link {
  background-color: white;
  color: black;
}

.flexRowContent--menu-link {
  position: fixed;
  left: 0%;
  width: 4.6%;
  max-width: 67px;
  height: 100%;
  padding: 0 1.1%;
  margin-top: 0px;
  z-index: 2;
}
/*Contenedores */
.flexRow--bannerssecond {margin-left: 67px;}

.flexCol--buycolection {
  display: none;
}
.flexCol--buycolection {display: none;}

.flexColChild--preciosc {/* height: 100% !important; */align-items: end;display: flex;}

.flexCol--preciosc {height: 100%;}
.flexRow--Bannersec {margin-left: 67px;}

.flexCol--Bannertwo {padding: 0px 1%;}

.flexRow--Bannersec .stretchChildrenWidth {padding: 0 1%;}

.flexRow--Bannersec {margin: 70px 0 0 67px;}

.flexRow--row-vitrine-category {
  margin-left: 67px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.flexRow--Bannerthrid {margin: 0 0 0px 67px;}

.flexColChild--infocardtexto1 {align-items: center;display: flex;}

.flexRowContent--menu-link {
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: 400ms all;
}
.flexRowContent--menu-link:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), linear-gradient(180deg, #E17373 0%, #23EAFF 47.92%, #090050 100%);
}


/* new menu */
.flexRow--Submenu{
  background: url(https://callearturop.vteximg.com.br/arquivos/fondo-desk-menu.png);
  background-size: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.flexRow--Submenu::after{
  content: "";
  position: absolute;
  top: 10%;
  left: -20%;
  background: url("https://callearturop.vteximg.com.br/arquivos/freedom-letra-sin fondo.png") no-repeat;
  background-size: 100%;
  width: 150%;
  height: 74px !important;
  transform: rotate(-1.95deg);
}

.flexRow--Submenu::before{
  content: "";
  background: url(https://callearturop.vteximg.com.br/arquivos/gifMenufreedom.gif) no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 2%;
  left: 2%;
}
@media (max-width: 1370px)  {
.flexRow--Submenu::before{
  display:none !important;
}
.flexRow--rowFixed-category {
  bottom: 20px !important;
}
}
.flexRowContent--Submenu::before {
  content: "";
  background: url(https://callearturop.vteximg.com.br/arquivos/menu--freedom.png) no-repeat;
  background-position: center;
  background-size: 100%;
  width: 18%;
  height: 60px;
  display: block;
  position: absolute;
  top: 10%;
  left: 2%;
}
/* levl2  */
.flexCol--submenu-lvl2  {
  justify-content: center;
  height: auto;
}
.flexCol--imagenes  {
  position: absolute;
  width: 100%;
  top: 0;
  display: block;
}
.flexColChild--imagenes {
  height: auto !important;
}.flexRowContent--submenu-lvl2  .stretchChildrenWidth:last-child{
  position: relative;
}
.flexCol--submenu-fina  {
  margin-top: 20px;
}
.flexRow--social-Media-menu{
  padding: 0 25px ;
}
.flexRowContent--social-Media-menu .stretchChildrenWidth{
  width: auto!important;
  margin-right: 15px;
}
.flexCol.flexCol--nombreC .skuSelectorSubcontainer--talla {
  width: 60%;
}
.flexRowContent--menu-link {
  z-index: 9999;
}
.flexRowContent--pre-footer {
  padding-top: 20px;
}
.flexRowContent--buscador-hover {
  position: relative;
  display: block;
}
.flexRowContent--buscador-hover:hover::after {
  content: "Buscar";
  display: block;
  position: absolute;
  width: 85px;
  height: 22px;
  font-size: 14px;
  background: #000000a3;
  z-index: 99999;
  top: 30%;
  left: 110%;
  text-align: center;
  margin: auto;
  padding: 5px 0 0;
  color: white;
  border-radius: 5px;
}
.flexRowContent--MENU-DESK-CLICK:hover::after {
  content: "Menu";
  display: block;
  position: absolute;
  width: 85px;
  height: 22px;
  font-size: 14px;
  background: #000000a3;
  z-index: 99999;
  top: 5%;
  left: 110%;
  text-align: center;
  margin: auto;
  padding: 5px 0 0;
  color: white;
  border-radius: 5px;
}
.flexRowContent--MENU-DESK-CLICK {
  position: relative;
}
.flexCol.flexCol--newsletter-col::before {
  content: "";
  display: block;
  position: absolute;
  top: 5%;
  left: 0;
  width: 1px;
  background: white;
  height: 90%;
  bottom: 0;
}

.flexCol.flexCol--newsletter-col {
  position: relative;
}

.flexRowContent.flexRowContent--no-disponible {
  display: grid;
  grid-template-columns: 70% 30%;
}

.flexRowContent--no-disponible .stretchChildrenWidth {
  width: 100% !important;
}

.flexRowContent--message-availability :global(.vtex-store-components-3-x-form) {
  display: none;
}
.flexRowContent--message-availability :global(.vtex-store-components-3-x-subscribeLabel) {
  display: none;
}

@media (max-width: 1100px){
.flexRowContent--social-Media-menu-M .stretchChildrenWidth {
    width: 100%!important;
    height: 3rem; /* agregar esta declaracion*/
}
.flexRowContent--buscador-hover:hover::after {
  display:none;
}
.flexColChild--imagenColumnCategory:first-child {
  background-image: url(https://callearturop.vtexassets.com/arquivos/banner-slider-home-tablet.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.flexColChild--imagenColumnCategory:last-child {
  display: none;
}
.flexColChild--imagenColumnCategory:first-child {
  background-image: url(https://callearturop.vtexassets.com/arquivos/banner-slider-home-tablet.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.flexColChild--imagenColumnCategory:last-child {
  display: none;
}
.flexRowContent--row-vitrine-category .stretchChildrenWidth:first-child {
  width: 50% !important;
}
.flexRowContent--row-vitrine-category .stretchChildrenWidth:last-child {
  width: 50% !important;
}
.flexRow--tittle {
  padding: 0 15px !important ;
}
.flexRowContent--bradcrumbLimpiar {
  margin-left: 15px;
}
.flexRow--bradcrumb {
  padding: 0 15px;
}
}


@media (max-width: 1000px)  {
  .flexRowContent--menu-link{
    width: 15.6%;
    padding: 0;
  }
  /* menu lv1 mobile */
  .flexRow--Submenu {
    width: 75%;
    height: 100%;
  }
  .flexRowContent--social-Media-menu .stretchChildrenWidth{
    display: flex;
  }
  .flexColChild--submenu-fina:last-child{
    display: none;
  }
  .flexRow--social-Media-menu-M{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .flexCol--newsletter-col {
    padding-left: 0;
    padding: 5px 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 15px 0;
    background: rgba(0,0,0,0.5);
}
.flexRowContent--menu-footer-m .styledLinkContainer--titulos-mobile {
  margin: 0;
  padding: 15px 0px;
  margin: 0 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.flexRowContent--menu-footer-m .styledLinkContent--titulos-mobile {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.flexRowContent--menu-footer-m :global(.vtex-menu-2-x-accordionIcon--titulos-mobile) {
  font-size: 0%;
}
.flexRowContent--menu-footer-m :global(.vtex-menu-2-x-accordionIcon--titulos-mobile--isClosed)::before {
  content: "";
  background: url(https://callearturop.vteximg.com.br/arquivos/flechaCerradoFooterfreedom.png) no-repeat;
  background-size: 100%;
  display: block;
  width: 12px !important;
  height: 20px;
}
.flexRowContent--newsletter .stretchChildrenWidth {
  width: 100% !important;
}
.flexRowContent--menu-footer-m :global(.vtex-menu-2-x-styledLinkContent--titulos-mobile) {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.flexRowContent--menu-footer-m :global(.vtex-menu-2-x-styledLinkContainer--titulos-mobile) {
  margin: 0;
  padding: 15px 0px;
  margin: 0 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.flexRowContent--menu-footer-m :global(.vtex-menu-2-x-menuItem--titulos-mobile--isOpen) :global(.vtex-menu-2-x-styledLinkContent--titulos-mobile) {
  color: #00E8FF;
}
.flexRowContent--menu-footer-m :global(.vtex-menu-2-x-accordionIcon--titulos-mobile--isOpen)::before {
  content: "";
  background: url(https://callearturop.vteximg.com.br/arquivos/flechaAbiertoFooterfredoom.png) no-repeat;
  background-size: 100%;
  display: block;
  width: 12px !important;
  height: 20px;
}
.flexRowContent--menu-footer-m :global(.vtex-menu-2-x-styledLinkContent) {
  color: white;
}
.flexCol--nombreC :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) {
  width: 55% !important;
}
.flexRowContent--buybuttoms :global(.vtex-add-to-cart-button-0-x-buttonText--buytex) {
  font-size: 15px !important;
}
.flexRowContent--buybuttoms :global(.vtex-add-to-cart-button-0-x-buttonText--buytAdd) {
  font-size: 15px !important;
}


.flexRowContent--buybuttoms {
  flex-wrap: wrap;
}

.flexRowContent--buybuttoms .stretchChildrenWidth {
  width: 100% !important;
  margin: 0px auto 10px;
}
.flexCol--newsletter-col {
  margin-top: 20px !important;
}
.flexCol--filtroContent {
  width: 47% !important;
  padding: 40px 38px 0 20px !important;
}
}




@media (max-width: 700px) {
  .flexColChild--imagenColumnCategory:last-child {
    display: block;
  }
  .flexRowContent--menu-link{
    width: 15.6%;
    padding: 0;
    min-height: 500px;
    overflow: auto;
  }
  /* menu lv1 mobile */
  .flexRow--Submenu {
    width: 75%;
    height: 100%;
  }
  .flexRowContent--social-Media-menu .stretchChildrenWidth{
    display: flex;
  }
  .flexColChild--submenu-fina:last-child{
    display: none;
  }
  .flexRow--social-Media-menu-M{
    position: absolute;
    width: 100%;
    bottom: 0 !important;
  }
  .flexCol--nombreC :global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla) {
    width: 60% !important;
  }

}
@media (min-width: 700px) and (max-width: 1000px){
.flexRowContent--buybuttoms .stretchChildrenWidth {
  margin: 15px auto;
}
}
.flexCol--Submenu  {
  position: relative;
  z-index: 99;
}
.flexCol--nombreC :global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) :global(.vtex-store-components-3-x-skuSelectorItem--selected) {
  background: transparent;
  border-bottom: 3px solid #340572;
}
.flexCol--nombreC :global(.vtex-store-components-3-x-skuSelectorItem) {
  background: transparent;
}

.flexCol--nombreC :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  width: 150%;
}

/* iconos valor footer */
.flexRow--bannerPreFooter{
  background-color: rgba(0,0,0,0.4);
  padding: 15px 0;
  height: 125px;
}
.flexRow--bannerPreFooter :global(.vtex-store-components-3-x-container){
  width: 50%;
}
.flexCol--icon-value{
  width: 100% !important;
  
}
.flexColChild--icon-value{
  display: flex;
  justify-content: center;
}

@media(max-width:700px){
  .flexRowContent--bannerPreFooter{
    display: flex;
    flex-direction: row;
  }
  .flexRow--bannerPreFooter :global(.vtex-store-components-3-x-container){
    width: 100%;
  }
  .flexRow--bannerPreFooter{
    background-color: rgba(0,0,0,0.4);
    padding: 15px 0;
    height: 100px;
  }
}
