.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
/*Home*/
.infoCardContainer--info-card-homeS
{
  align-items: initial;
}

.infoCardHeadline--info-card-homeS {
    padding: 0;
    margin: 0;
}

.infoCardCallActionContainer--info-card-homeS {
    margin: 0;
    padding: 0% 5%;
}

.infoCardHeadline--info-card-homeM {
    margin: 0;
}

.infoCardCallActionContainer--info-card-homeM {
    margin: 0;
    padding: 0% 5%;
}

.infoCardHeadline--info-card-homeB {
    margin: 0;
}

.infoCardCallActionContainer--info-card-homeB {
    margin: 0;
    padding: 0% 5%;
}

.infoCardContainer--info-card-homeB {
  display: flex;
  align-items: flex-end;
}

.infoCardHeadline--info-card-homeS {
  font-size: 32px;
  padding: 0% 5%;
  text-transform: uppercase;
}

.infoCardHeadline--info-card-homeM {
  font-size: 32px;
  padding: 0% 5%;
  text-transform: uppercase;
}
.infoCardHeadline--info-card-homeB {
  font-size: 32px;
  padding: 0% 5%;
  text-transform: uppercase;
}

.infoCardCallActionContainer--info-card-homeS :global(.vtex-button) {
  background: none;
  min-height: auto;
  border: none;
  margin-top: 5%;
  color: red;
  text-decoration: underline;
}
.infoCardCallActionContainer--info-card-homeM :global(.vtex-button) {
  background: none;
  min-height: auto;
  border: none;
  margin-top: 5%;
  color: red;
  text-decoration: underline;
}
.infoCardCallActionContainer--info-card-homeB :global(.vtex-button) {
  background: none;
  min-height: auto;
  border: none;
  margin-top: 5%;
  color: red;
  text-decoration: underline;
}

.infoCardCallActionContainer--info-card-homeS1 :global(.vtex-button){
  background: none;
  min-height: auto;
  border: none;
  margin-top: 5%;
  color: #00E8FF;
  padding: 0px;
  text-decoration: underline;
}
.infoCardCallActionContainer--info-card-homeS2 :global(.vtex-button){
  background: none;
  min-height: auto;
  border: none;
  margin-top: 5%;
  padding: 0px;
  color: #00E8FF;
  text-decoration: underline;
}

.infoCardCallActionContainer--info-card-homeS3 :global(.vtex-button){
  background: none;
  min-height: auto;
  border: none;
  margin-top: 5%;
  color: #00E8FF;
  padding: 0px;
  text-decoration: underline;
}
.infoCardCallActionContainer--info-card-home3 :global(.vtex-button):hover {background: white;color: #340572;}
.infoCardCallActionContainer--info-card-homeS1 :global(.vtex-button__label) {font-weight: 700;}
.infoCardCallActionContainer--info-card-homeS2 :global(.vtex-button__label) {font-weight: 700;}
.infoCardCallActionContainer--info-card-homeS3 :global(.vtex-button__label) {font-weight: 700;}
.infoCardCallActionContainer--info-card-homeS1 :global(.vtex-button__label){
  color: #00E8FF;
  padding: 0px;
  text-decoration: underline;
  transform: rotate(-2deg);
  font-size: 20px;
}
.infoCardCallActionContainer--info-card-homeS3 :global(.vtex-button__label){
  color: #00E8FF;
  padding: 0px;
  text-decoration: underline;
  transform: rotate(-2deg);
  font-size: 20px;
}
.infoCardCallActionContainer--info-card-homeS3 :global(.vtex-button__label):hover{
  color: #F44753;
}
.infoCardCallActionContainer--info-card-homeS2 :global(.vtex-button__label){
  padding: 0px;
  color: #00E8FF;
  text-decoration: underline;
  transform: rotate(-2deg);
  font-size: 20px;
}

.infoCardCallActionContainer--info-card-home3 :global(.vtex-button){
  background: #340572;
  border-radius: 0;
}
.infoCardHeadline--info-card-homeS2 {
  text-transform: uppercase;
  width: 50%;
}
.infoCardHeadline--info-card-homeS1 {
  text-transform: uppercase;
}
/* estilos sebas */
.infoCardCallActionContainer--info-card-homeS :global(.vtex-button__label) {
  font-size: 30px;
  padding: 0;
  font-weight: 700;
  text-align: left;
  margin: 20px 0 0 0;
  transform: rotate(-2deg);
}
.infoCardCallActionContainer--info-card-homeM :global(.vtex-button__label) {
  font-size: 30px;
  padding: 0;
  font-weight: 700;
  text-align: left;
  margin: 20px 0 0 0;
  transform: rotate(-2deg);
}
.infoCardCallActionContainer--info-card-homeB :global(.vtex-button__label) {
  font-size: 30px;
  padding: 0;
  font-weight: 700;
  text-align: left;
  margin: 20px 0 0 0;
  transform: rotate(-2deg);
}

/*VITRINAS*/
/*Colors*/
.skuSelectorItem--abeto{
  background: #b68945;
  border-radius: 7px;
}
.skuSelectorItem--aguamarina{
  background: #1b98c3;
  border-radius: 7px;
}
.skuSelectorItem--amarillo{
  background: #fff218;
  border-radius: 7px;
}
.skuSelectorItem--amarillo-cromo{
  background: #fed85e;
  border-radius: 7px;
}
.skuSelectorItem--amarillo-narciso{
  background: #cca808;
  border-radius: 7px;
}
.skuSelectorItem--amarillo-pastel{
  background: #fffe99;
  border-radius: 7px;
}
.skuSelectorItem--amarillo-zinc{
  background: #fee518;
  border-radius: 7px;
}
.skuSelectorItem--amatista{
  background: #2e004f;
  border-radius: 7px;
}
.skuSelectorItem--arena{
  background: #dedaaa;
  border-radius: 7px;
}
.skuSelectorItem--avellana{
  background: #9f6632;
  border-radius: 7px;
}
.skuSelectorItem--azul{
  background: #0768ac;
  border-radius: 7px;
}
.skuSelectorItem--azul-claro{
  background: #b2e2ed;
  border-radius: 7px;
}
.skuSelectorItem--azul-marino{
  background: #042850;
  border-radius: 7px;
}
.skuSelectorItem--azul-prusia{
  background: #021427;
  border-radius: 7px;
}
.skuSelectorItem--azul-royal{
  background: #084890;
  border-radius: 7px;
}
.skuSelectorItem--beige{
  background: #eae3bb;
  border-radius: 7px;
}
.skuSelectorItem--berenjena{
  background: #21003a;
  border-radius: 7px;
}
.skuSelectorItem--blanco{
  background: #ffffff;
  border-radius: 7px;
}
.skuSelectorItem--brunette{
  background: #4f2e14;
  border-radius: 7px;
}
.skuSelectorItem--cadmio{
  background: #fe4c00;
  border-radius: 7px;
}
.skuSelectorItem--canela{
  background: #521c04;
  border-radius: 7px;
}
.skuSelectorItem--celeste{
  background: #e4d1e4;
  border-radius: 7px;
}
.skuSelectorItem--cereza{
  background: #870927;
  border-radius: 7px;
}
.skuSelectorItem--chocolate{
  background: #4c2a14;
  border-radius: 7px;
}
.skuSelectorItem--cocoa-brown{
  background: #38210f;
  border-radius: 7px;
}
.skuSelectorItem--coral{
  background: #fe3300;
  border-radius: 7px;
}
.skuSelectorItem--crema{
  background: #fffecc;
  border-radius: 7px;
}
.skuSelectorItem--crudo{
  background: #d4ca92;
  border-radius: 7px;
}
.skuSelectorItem--dorado{
  background: #cda434;
  border-radius: 7px;
}
.skuSelectorItem--escarlata{
  background: #a90000;
  border-radius: 7px;
}
.skuSelectorItem--esmeralda{
  background: #40a843;
  border-radius: 7px;
}
.skuSelectorItem--fucsia{
  background: #f63567;
  border-radius: 7px;
}
.skuSelectorItem--ganache{
  background: #441302;
  border-radius: 7px;
}
.skuSelectorItem--granate{
  background: #560016;
  border-radius: 7px;
}
.skuSelectorItem--gris{
  background: #7f7f7f;
  border-radius: 7px;
}
.skuSelectorItem--gris-ceniza{
  background: #b2b2b2;
  border-radius: 7px;
}
.skuSelectorItem--gris-claro{
  background: #cccccc;
  border-radius: 7px;
}
.skuSelectorItem--gris-grafito{
  background: #666666;
  border-radius: 7px;
}
.skuSelectorItem--gris-granito{
  background: #333333;
  border-radius: 7px;
}
.skuSelectorItem--gris-oscuro{
  background: #4c4c4c;
  border-radius: 7px;
}
.skuSelectorItem--gris-perla{
  background: #e5e5e5;
  border-radius: 7px;
}
.skuSelectorItem--gris-plata{
  background: #999999;
  border-radius: 7px;
}
.skuSelectorItem--habano{
  background: #e2d6a1;
  border-radius: 7px;
}
.skuSelectorItem--hoja-seca{
  background: #c5b579;
  border-radius: 7px;
}
.skuSelectorItem--hueso{
  background: #decf90;
  border-radius: 7px;
}
.skuSelectorItem--khaki{
  background: #d2b15d;
  border-radius: 7px;
}
.skuSelectorItem--lavanda{
  background: #a59bbd;
  border-radius: 7px;
}
.skuSelectorItem--lila{
  background: #e4d1e4;
  border-radius: 7px;
}
.skuSelectorItem--lima{
  background: #99d02b;
  border-radius: 7px;
}
.skuSelectorItem--magenta{
  background: #ec1943;
  border-radius: 7px;
}
.skuSelectorItem--malva{
  background: #a3448f;
  border-radius: 7px;
}
.skuSelectorItem--mandarina{
  background: #fe6611;
  border-radius: 7px;
}
.skuSelectorItem--marfil{
  background: #fef2ae;
  border-radius: 7px;
}
.skuSelectorItem--menta{
  background: #cceaad;
  border-radius: 7px;
}
.skuSelectorItem--morado{
  background: #741e72;
  border-radius: 7px;
}
.skuSelectorItem--mostaza{
  background: #dba205;
  border-radius: 7px;
}
.skuSelectorItem--naranja{
  background: #fe7f13;
  border-radius: 7px;
}
.skuSelectorItem--naranja-claro{
  background: #fe9923;
  border-radius: 7px;
}
.skuSelectorItem--navy{
  background: #000810;
  border-radius: 7px;
}
.skuSelectorItem--negro{
  background: #000000;
  border-radius: 7px;
}
.skuSelectorItem--nuez{
  background: #694e39;
  border-radius: 7px;
}
.skuSelectorItem--ocaso{
  background: #fecc44;
  border-radius: 7px;
}
.skuSelectorItem--ocre{
  background: #996e00;
  border-radius: 7px;
}
.skuSelectorItem--oliva{
  background: #a57f00;
  border-radius: 7px;
}
.skuSelectorItem--oro{
  background: #b28e00;
  border-radius: 7px;
}
.skuSelectorItem--palo-de-rosa{
  background: #fcccce;
  border-radius: 7px;
}
.skuSelectorItem--perlado{
  background: #eae6ca;
  border-radius: 7px;
}
.skuSelectorItem--pistacho{
  background: #bfe35d;
  border-radius: 7px;
}
.skuSelectorItem--plateado{
  background: #c5c8c7;
  border-radius: 7px;
}
.skuSelectorItem--rojo{
  background: #dc0000;
  border-radius: 7px;
}
.skuSelectorItem--rojo-persa{
  background: #db0f08;
  border-radius: 7px;
}
.skuSelectorItem--rosa{
  background: #fab3c5;
  border-radius: 7px;
}
.skuSelectorItem--rosa-amaranto{
  background: #f98db3;
  border-radius: 7px;
}
.skuSelectorItem--rosa-claro{
  background: #fbc0ca;
  border-radius: 7px;
}
.skuSelectorItem--rosado{
  background: #f99ab9;
  border-radius: 7px;
}
.skuSelectorItem--rosa-lavanda{
  background: #faa7bf;
  border-radius: 7px;
}
.skuSelectorItem--rosa-sachet{
  background: #f881ad;
  border-radius: 7px;
}
.skuSelectorItem--royal-purple{
  background: #98237f;
  border-radius: 7px;
}
.skuSelectorItem--sepia{
  background: #d3a96b;
  border-radius: 7px;
}
.skuSelectorItem--tabaco{
  background: #663c16;
  border-radius: 7px;
}
.skuSelectorItem--taupe{
  background: #765a42;
  border-radius: 7px;
}
.skuSelectorItem--turquesa{
  background: #b2e2ed;
  border-radius: 7px;
}
.skuSelectorItem--uva{
  background: #64146d;
  border-radius: 7px;
}
.skuSelectorItem--verde{
  background: #006c2c;
  border-radius: 7px;
}
.skuSelectorItem--verde-enebro{
  background: #003d18;
  border-radius: 7px;
}
.skuSelectorItem--verde-malaquita{
  background: #008837;
  border-radius: 7px;
}
.skuSelectorItem--verde-manzana{
  background: #73bf3b;
  border-radius: 7px;
}
.skuSelectorItem--verde-musgo{
  background: #005823;
  border-radius: 7px;
}
.skuSelectorItem--verde-oscuro{
  background: #011408;
  border-radius: 7px;
}
.skuSelectorItem--verde-pino{
  background: #01210e;
  border-radius: 7px;
}
.skuSelectorItem--vinotinto{
  background: #31000c;
  border-radius: 7px;
}
.skuSelectorItem--violeta{
  background: #401166;
  border-radius: 7px;
}
.skuSelectorItem--gris-carbon{
  background: #191919;
  border-radius: 7px;
}
.skuSelectorItem--amarillo-palido{
  background: #fffeb2;
  border-radius: 7px;
}
.skuSelectorItem--amarillo-limon{
  background: #fffe7f;
  border-radius: 7px;
}
.skuSelectorItem--amarillo-napoles{
  background: #fee585;
  border-radius: 7px;
}
.skuSelectorItem--ambar{
  background: #feb22b;
  border-radius: 7px;
}
.skuSelectorItem--salmon{
  background: #fe6600;
  border-radius: 7px;
}
.skuSelectorItem--rojo-rubi{
  background: #c90000;
  border-radius: 7px;
}
.skuSelectorItem--carmesi{
  background: #cc0000;
  border-radius: 7px;
}
.skuSelectorItem--rojo-carmin{
  background: #94092b;
  border-radius: 7px;
}
.skuSelectorItem--sangria{
  background: #7b0824;
  border-radius: 7px;
}
.skuSelectorItem--rosa-crepe{
  background: #fdd9df;
  border-radius: 7px;
}
.skuSelectorItem--sandia{
  background: #f76792;
  border-radius: 7px;
}
.skuSelectorItem--rosa-frances{
  background: #f74e78;
  border-radius: 7px;
}
.skuSelectorItem--orquidea{
  background: #98237f;
  border-radius: 7px;
}
.skuSelectorItem--purpura{
  background: #531477;
  border-radius: 7px;
}
.skuSelectorItem--azul-malibu{
  background: #66bcd8;
  border-radius: 7px;
}
.skuSelectorItem--indigo{
  background: #073c78;
  border-radius: 7px;
}
.skuSelectorItem--marron{
  background: #82501e;
  border-radius: 7px;
}
.skuSelectorItem--cafe-mocca{
  background: #6c3b08;
  border-radius: 7px;
}
.skuSelectorItem--cafe{
  background: #622d06;
  border-radius: 7px;
}
.skuSelectorItem--cafe-oscuro{
  background: #260903;
  border-radius: 7px;
}

.productImagesContainer--carousel {
  margin: 0 4% 0 0;
  padding: 0 4% 0 2%;
}
@media(min-width:1380px){
  .productImagesContainer--carousel {
    margin: 0;
    padding: 0 2% 0 2%;
  }
}
.imageElement--imgCategoriaSlider {
  width: 85%;
}

.imageElement--imgvitrina {width: 100%;}

.slide--shelf2--visible {padding: 0 10px;}










.skuSelectorContainer--selector .skuSelectorSubcontainer--colores .skuSelectorName::before {
  content:"Color disponible";
  font-size: .875rem;
  text-transform: uppercase;
}
.skuSelectorContainer--selector .skuSelectorSubcontainer--colores .skuSelectorName {
  font-size: 0;
}
.skuSelectorContainer--selector .skuSelectorSubcontainer--talla .skuSelectorName {
  text-transform: uppercase;
}


.skuSelectorContainer--selector .skuSelectorSubcontainer--colores .skuSelectorItemTextValue {
  font-size: 0;
}
.frameAround{
  display: none;
}
.skuSelectorContainer--selector .skuSelectorItem--selected{
  border: 2px solid;
  border-radius: 5px;
}
.skuSelectorContainer--selector .skuSelectorInternalBox{
  border: 1px solid #afafaf59;
}
.skuSelectorContainer--selector .skuSelectorSubcontainer--colores {
  border-bottom: 2px solid #e3e1e1;
  padding-bottom: 15px;
}

.skuSelectorContainer--selector .skuSelectorSubcontainer--talla {
  border-bottom: 2px solid #e3e1e1;
  padding-bottom: 15px;
  padding-top: 18px;
}
.container{
  padding: 0px;
}
.skuSelectorOptionsList {
  margin: 0;
}

/*Colores vitrinas*/
.skuSelectorSubcontainer--colores .skuSelectorItemTextValue{
  font-size: 0 !important;
}

.skuSelectorSubcontainer--colores .skuSelectorItem--selected {
  border: 1px solid black;
  border-radius: 5px;
}
.skuSelectorName {
  display: none;
}

.skuSelectorContainer--selector .skuSelectorName{
  display: block;
}
.skuSelectorSubcontainer {
  margin-bottom: 0;
}
.skuSelectorSubcontainer--colores .skuSelectorItem{
  width: 24px;
  height: 24px;
}
.skuSelectorContainer--selector .skuSelectorSubcontainer--colores .skuSelectorItem{
  width: initial;
  height: 36px;
}
.skuSelectorTextContainer {
  display: none;
}
.skuSelectorContainer--selector .skuSelectorTextContainer {
  display: block;
}
.skuSelectorContainer--selector .skuSelectorSubcontainer--talla {
  display: flex !important;
}
.skuSelectorContainer--selector .skuSelectorSubcontainer--talla {
  opacity: initial;
  visibility: initial;
  transition: 1s;
  position: initial;
  top: 0;
}
.skuSelectorSubcontainer--talla {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  position: absolute;
  top: 50px;
}
.skuSelectorContainer{
  transition: 1s;
}
:global(.vtex-product-summary-2-x-containerNormal):hover .skuSelectorSubcontainer--talla{
  display: flex;
  top: 0;
  position: relative;
  opacity: 1;
  visibility: visible;
}

.imageElement--logoI {
  width: 55%;
  margin: 18% 18% 0% 23%;
}
.imageElement--iconoM {width: 85%;margin: 0 0 50% 0;}

.skuSelectorContainer{
  margin: 0px;
}

.infoCardContainer--info-card-homeS1 {flex-direction: column-reverse;}

.infoCardContainer--info-card-homeS3 {flex-direction: column-reverse;}
.infoCardContainer.infoCardContainer--info-card-homeS2 {flex-direction: column;}

.infoCardTextContainer.infoCardTextContainer--info-card-homeS2 {width: 100%;}

.infoCardImageContainer.infoCardImageContainer--info-card-homeS1 {width: 100%;}
.infoCardImageContainer.infoCardImageContainer--info-card-homeS3 {width: 100%;}

.infoCardImageContainer--info-card-homeS2 {width: 100%;}

.infoCardImage--info-card-homeS2 {width: 100%;}

.infoCardImage--info-card-homeS1 {width: 100%;}

.infoCardTextContainer--info-card-homeS1 {width: 100%;}
.infoCardTextContainer--info-card-homeS3 {width: 100%;}
.infoCardHeadline--info-card-homeS2 {margin: 0;}
.infoCardContainer--info-card-home3 {margin: 70px 0 0px 67px;}

.infoCardHeadline--info-card-home3 {width: 60%;}

.infoCardTextContainer--info-card-home3 {padding: 0 0%;width: 30%;}
.infoCardImageContainer--info-card-home3{width: 60%;}

.imageElement--menuBanner {
  width: 100%;
}
.imageElement--footerMenu{
  padding: 3px 22px;
  width: 87%;
}

.imageElementLink--FAAA  {
  position: relative;
  display: block;
}

.imageElementLink--FAAA:hover::after {
  content: "Favoritos";
  display: block;
  position: absolute;
  width: 85px;
  height: 22px;
  font-size: 14px;
  background: #000000a3;
  z-index: 99999;
  top: 32%;
  left: 90%;
  text-align: center;
  margin: auto;
  padding: 5px 0 0;
  color: white;
  border-radius: 5px;
}
/*
.imageElement--preFooter {
  padding-top: 30px;
}*/
.skuSelectorItem--blanco {
  border:1px solid #00000026
}
.input.inputName :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #c2c2c2;
}
.input.inputEmail :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #c2c2c2;
}
.submit :global(.vtex-button) {
  background: #340572;
  border-color: #340572;
}
.submit :global(.vtex-button) :global(.vtex-button__label) {
  color: white !important;
}

.imageElement--iconoM.imageElement--MENU-DESK-CLICK {
  width: 60%;
}

@media (max-width: 1000px)  {
  .imageElement.imageElement--imgcuadra {
    width: 100%;
}
.imageElement--pagos-desk {
  display: none;
}
.flexRowContent--menu-footer-m .styledLinkContainer--titulos-mobile {
  margin: 0;
  padding: 15px 0px;
  margin: 0 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.flexRowContent--menu-footer-m .styledLinkContent--titulos-mobile {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.flexRowContent--menu-footer-m .accordionIcon--titulos-mobile {
  font-size: 0%;
}
.flexRowContent--menu-footer-m .accordionIcon--titulos-mobile--isClosed::before {
  content: "";
  background: url(https://callearturop.vteximg.com.br/arquivos/flechaCerradoFooterfreedom.png) no-repeat;
  background-size: 100%;
  display: block;
  width: 23px;
  height: 20px;
}
.flexRowContent--newsletter .stretchChildrenWidth {
  width: 100% !important;
}
.imageElement--desarrollado-m {
  width: 45%;
  margin-bottom: 20px;
}
.infoCardHeadline--info-card-homeS {
  font-size: 27px;
  padding: 0% 5%;
  text-transform: uppercase;
}
.infoCardHeadline--info-card-homeM {
  font-size: 25px;
  padding: 0% 0;
}
.infoCardHeadline--info-card-homeB {
  font-size: 27px;
  padding: 0% 5%;
  text-transform: uppercase;
}
.infoCardCallActionContainer--info-card-homeS :global(.vtex-button__label) {
  font-size: 20px;
  padding: 0;
  font-weight: 700;
  margin: 20px 0 0 0;
  transform: rotate(-2deg);
}
.infoCardCallActionContainer--info-card-homeM :global(.vtex-button__label) {
  font-size: 20px;
  padding: 0;
  font-weight: 700;
  margin: 20px 0 0 0;
  transform: rotate(-2deg);
}
.infoCardCallActionContainer--info-card-homeB :global(.vtex-button__label) {
  font-size: 20px;
  padding: 0;
  font-weight: 700;
  margin: 20px 0 0 0;
  transform: rotate(-2deg);
}
.infoCardCallActionContainer--info-card-homeM :global(.vtex-button__label) {
  text-align: left;
  margin: 0;
}
.infoCardCallActionContainer--info-card-homeS :global(.vtex-button__label) {
  text-align: left;
  margin: 0;
}
.infoCardCallActionContainer--info-card-homeB :global(.vtex-button__label) {
  text-align: left;
  margin: 0;
}
.infoCardCallActionContainer--info-card-homeM :global(.vtex-button__label) {
  text-align: left;
  font-size: 22px;
}
.infoCardCallActionContainer--info-card-homeS :global(.vtex-button__label) {
  text-align: left;
  font-size: 25px;
}
.infoCardCallActionContainer--info-card-homeB :global(.vtex-button__label) {
  text-align: left;
  font-size: 25px;
}

.infoCardTextContainer--info-card-homeS {
  padding: 0;
}
.infoCardTextContainer--info-card-homeC {
  padding: 0;
}
.infoCardTextContainer--info-card-homeB {
  padding: 0;
  -webkit-box-align: end;
}
.infoCardTextContainer--info-card-homeM {
  padding: 0;
}

.infoCardHeadline--info-card-homeM {
  font-size: 23px;
}
.infoCardHeadline--info-card-homeS {
  font-size: 23px;
}
.infoCardHeadline--info-card-homeB {
  font-size: 23px;
}
:global(.vtex-flex-layout-0-x-flexCol--InformacionDosC) .productDescriptionTitle {
  line-height: 32px;
}
.imageElement--iconoM.imageElement--favoritos {
  margin-top: 10px !important;
}
.skuSelectorSubcontainer--colores :global(.vtex-product-summary-2-x-skuSelectorItem--vitrina) {
  width: 35px !important;
  height: 25px !important;
}
}

@media (max-width: 600px)  {
:global(.vtex-product-summary-2-x-SKUSelectorContainer--vitrina) .skuSelectorSubcontainer--color :global(.vtex-product-summary-2-x-skuSelectorItem--vitrina) {
  height: 27px!important;
}
}


/*store-component****** GUIA DE TALLAS*** Santy*/

.imageElement.imageElement--tallas-ropa-instrucciones-imagen {
  width: 45%;
  display: block;
  margin: auto;
}
.imageElement.imageElement--tallas-logo-imagen {
  width: 200px;
  margin: auto;
  display: block;
}

@media (max-width: 800px) {
  .imageElement.imageElement--tallas-logo-imagen {
      width: 200px !important;
      margin: auto;
      display: block;
  }
  }
  @media(min-width:1350px){
    .skuSelectorOptionsList {
      width: 250%;
    }
  }
  /* .imageElement.imageElement--preFooter {
    margin: 20px 0 0 0;
  } */
  .backToTopButtonContainer :global(.vtex-button__label)::before {
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/nohoverVitrinas.png) no-repeat;
    background-size: 100%!important;
    display: block;
    width: 39px;
    height: 39px;
    transition: all 40ms;
    position: absolute;
    transform: rotate(90deg);
}
.backToTopButtonContainer :global(.vtex-button) {
    background: transparent;
    border: none;
    font-size: 0;
    bottom: 35px;
}
.infoCardContainer.infoCardContainer--info-card-home3 {position: relative;z-index: 1;}

.infoCardCallActionContainer.infoCardCallActionContainer--info-card-home3 {
    position: relative;
    z-index: 1;
}

.searchBarInnerContainer--opened{
  overflow: hidden;
  display:block;
  
}


@media(max-width:1000px){
  :global(.vtex-account__page-body) .wish-list {
    width: 81%;
    padding: 0;
    margin: 0;
}
:global(.vtex-account){
  margin: 0 0 0 40px;
}
}




/*---------------------------------------*/
/*  Estilos de Mililitros en Producto   */

/*-------------------------------------*/


.specificationItemProperty--especificacionesmili {
  padding: 0px 0px 0px 0;
  color: #807e7b;
  font-weight: 700;
}

.specificationItemSpecifications--especificacionesmili {
  font-weight: 700;
  color: #807e7b;
}

.container--especificacionesmili {
  margin-right: 62%;
  padding: 0px 20px 0px 0px;
}

.specificationsTableContainer--especificacionesmili {
  padding: 0;
}

.specificationsTableHead{
  display: none ;
}

.specificationsTitle--especificacionesmili{
  display: none;
}