.inputContainer :global(.vtex-styleguide-9-x-input) {
    background: transparent;
    padding: 0 !important;
    font-size: 15px !important;
}

:global(.vtexeurope-minicart-freeshipping-bar-1-x-text2) {
    visibility: hidden;
}

:global(.vtexeurope-minicart-freeshipping-bar-1-x-text2)::before {
    content: "Envío GRATIS!";
    visibility: visible;
    position: absolute;
}

:global(.vtex-toast)::before {
    content: "";
    display: block;background-image: url(https://racketball.vteximg.com.br/arquivos/carrita-add.png);
    width: 18px;
    height: 20px;
    background-position: center;
    background-size: 100%;
    margin: 0px 10px 0 0;
}
:global(.vtex-toast-container) {
    top: 22%;
    left: 32px;
    height: 57px;
}
:global(.vtex-toast) {
    background: white;
    color: #24034f;
    text-align: center;
}
:global(.vtex-alert__close-icon) {
    color: #24034f;
}

@media (max-width: 600px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--menu-link) > div{
        height: 100%;
    }
    :global(.vtex-toast-container) {
        top: 26%;
        left: 67px;
        width: 70%;
        height: 57px;
    }
    .content--emailAndPassword {
        margin-top: 10px !important;
    }
    :global(.vtex-my-account-1-x-userName) {
        font-size: 22px;
    }
}