.drawerContent.drawerContent--searchbarD {
  width: 60%;
  overflow: visible !important;
  /* margin-top: -360px; */
}

.closeIconContainer.closeIconContainer--searchbarD {
  position: absolute;
  right: 0;
  justify-content: end;
  margin: 0 0 0px 0;
  width: 100%;
  top: 0;
  height: 100vh;
}

.closeIconButton--searchbarD::before {
    content: "";
    background: url(https://callearturop.vteximg.com.br/arquivos/cierreDelMenu.png);
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-size: 100%;
    position: absolute;
    top: 42%;
    right: 19%;
    z-index: 1;
  }
  .drawer.drawer--searchbarD.opened.opened--searchbarD {
    background: #00000075;
    margin: 0 0 0 60px;
    justify-content: center;
    align-items: center;
  }
  :global(.vtex-store-drawer-0-x-closeIcon--searchbarD){
    display: none;
  }
  .closeIconButton.closeIconButton--searchbarD {
    width: 100%;
    height: 100vh;
  }
  .childrenContainer.childrenContainer--searchbarD {
    position: absolute;
    width: 60%;
    top: 43%;
  }
