.buttonText--buytAdd {font-size: 23px;}

.buttonText--buytex {font-size: 23px;}
.vtex-add-to-cart-button-0-x-buttonText--buytAdd{font-size: 23px;}
.vtex-add-to-cart-button-0-x-buttonText--buytex{font-size: 23px;}
