.container {justify-content: center;padding: 14px 0 14px 0;border-top: 2px solid #D3D3D3;margin: 22px 0 9px 0;}

.lowStockText {color: #E71E03;letter-spacing: 1px;font-size: 13px;}

.lowStockHighlight {color: #E71E03;letter-spacing: 1px;font-size: 13px;}
