.barContainer {
  background: #F44753;
  border-radius: 0px;
  height: 5px;
  transition: width 1s;
}
.sliderContainer {
  background-color: #D3D3D3;
  border: 1px solid #e2d6d1;
  height: 7px;
  margin: 10px 0;
  border-radius: 0px;
}
.freigthScaleContainer {
  width: 90%;
  padding: 10px 18px;
  border: 1px solid #D3D3D3;
  margin: 10px auto 0 auto;
  box-shadow: none;
  height: 80px;
  
}
.text1{
  text-align: center;
}
.text2 {margin: 0 0 0 4px;color: #340572;}

.currencyContainer {color: #340572;}

@media(max-width:600px){
  .freigthScaleContainer{
    height: 80px !important;
  }
}