.barContainer {
  background: #F44753;
  border-radius: 0px;
  height: 5px;
  transition: width 1s;
}
.sliderContainer {
  background-color: #D3D3D3;
  border: 1px solid #e2d6d1;
  height: 7px;
  margin: 10px 0;
  border-radius: 0px;
}
.freigthScaleContainer {
  width: 85%;
  padding: 10px 35px;
  border: 1px solid #D3D3D3;
  margin: 10px 8% 0 8%;
  box-shadow: none;
}
.text2 {margin: 0 0 0 4px;color: #340572;}

.currencyContainer {color: #340572;}

