.sliderLayoutContainer.sliderLayoutContainer--carouselCQ {padding: 0 10%;transform: matrix(1, -0.01, 0, 1, 0, 0);margin-bottom: -50px;}
.slide.slide--carouselCQ {margin: 100px 10px;}


.sliderLayoutContainer.sliderLayoutContainer--carousel.sliderLayoutContainer--carousel-duales {
    margin: 0 0 0 15%;
    width: 85%;
}